/* App.css */

/* Add this at the top of your CSS file */
* {
  box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
}

:root {
  --light-cream: #563920;
  --light-tan: #e6ccb2;
  --soft-brown: #ddb892;
  --warm-brown: #ede0d4;
  --dark-brown: #ede0d4;
  --reddish-brown: #9c6644;
}

body, html {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  height: 100%; /* Ensure body and html take full height */
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: 'Metamorphous', static;
  
}



.logo {
  position: absolute;
  left: 1%;
  top: 20%;
  max-width: 180px; /* Set a maximum width for the logo */
  max-height: 100px; /* Set a maximum height for the logo */
  overflow: hidden; /* Ensure any overflow is hidden */
  
}
.product-link img {
  width: 100%; /* Scale the image to fit within its container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Ensure no extra space below the image */
}

/* Ensures the app takes full height and prevents overflow */
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh; /* Full height for flexbox */
  
    background-color: #f8ebe0;
  
}

.App-header {
  background-image: url('./hero-image.png');
  background-color: #f8ebe0;
  background-size: contain; /* Keeps the image proportions */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-position: center bottom; /* Positions the image at the bottom center */
  min-height: 100vh; /* Full viewport height */
  
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}




.intro-section {
  text-align: center;
  padding: 60px 20px;
  background-color: #f8ebe0; /* Dark brown background */
  color: var(--light-cream);
}

.intro-section h2 {
  font-size: 1rem;
  margin-top: -20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.image-text-container {
  display: flex;
  flex-direction: column;
  gap: 40px; /* Space between the two image-text pairs */
  align-items: center;
}
.image-text-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
 
}

.image-text-item-left {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  padding-left: 100px;
}
.image-text-item-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  padding-right: 100px;
}

.image,
h2 {
  opacity: 0; /* Initially invisible */
  transform: translateY(50px); /* Move down */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Smooth transition */
  font-size: 1rem;
}

.image{
  width: 30%;
}

.image.fade-in,
h2.fade-in {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Original position */
}


.text-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9); /* White with slight transparency */
  color: #000;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-box.right {
  right: -20px; /* Offset to overlap the image */
  transform: translateX(20%);
}

.text-box.left {
  left: -20px; /* Offset to overlap the image */
  transform: translateX(-20%);
}

@media screen and (max-width: 768px) {
  .image-text-container {
    gap: 20px;
  }

  
}


.App-section h3{
  color: var(--light-cream);
  background-color: #f8ebe0;
  margin-bottom: 20px;
  font-size: 1rem;
}

.App-section {
  background-color: #f8ebe0;
  margin-bottom: 20px;
  font-size: 1rem;
}

#about, #contact {
  background-color: #f8ebe0;

}

#about p{
  padding-left: 15%;
  padding-right: 15%;
  line-height: 45px;
  font-size: 1rem;
}

#about h3{
  font-size: 1.5rem;
  padding-top: 10%;
}

#product-intro{
  padding-left: 20%;
  padding-right: 20%;
  line-height: 40px;

  font-size: 1rem;
}

#products p{

  font-size: 1rem;
}


#contact p{
  
  font-size: 1rem;
}

#contact h3{
  font-size: 2rem;
padding-bottom: 20px;
}


.App-section p{
  color: var(--light-cream);
  margin-bottom: 20px;
  font-size: 1rem;
}

.intro-section p {
  color: var(--light-cream);
  max-width: 600px;
  margin: 0 auto;
}

/* App-section styles */
/* App-section styles */
.App-section {
  flex: 1; /* This allows the section to grow and fill the available space */
  padding: 50px 20px;
  background-color: #f8ebe0;
  color: var(--light-cream);
}

/* Footer styles */
.App-footer {
  background-color: #4b2201;
  color: var(--dark-brown);
  padding: 10px;
  text-align: center;
  width: 100%; /* Ensure it takes full width */
}

.App > *:not(footer) {
  flex-grow: 1;
}

/* Responsive Styles */


/* Navbar styles */
.navbar {
  background-color: #de9a67; /* Navbar color */
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
  
}

.navbar ul li a {
  color: var(--light-cream);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 2vw;
  }

.navbar ul li a:hover {
  color: var(--dark-brown);
}




.language-switcher {
  color: var(--light-cream);
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.language-switcher:hover {
  opacity: 0.7;
}

/* Main container */
.age-verification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8ebe0;
  position: relative;
  overflow: hidden;
}

/* Image on the left with animation */
.whiskey-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease; /* For smooth animation */
  position: absolute;
  left: 0%;
}

.slideInLeft {
  animation: slideInLeft 0.3s forwards; /* Left-side sliding animation */
}

/* Age verification content */
.age-verification-content {
  position: absolute;
  right: 0%;
  flex-direction: column;
  align-items: center;
  width: 50%;
  opacity: 1; /* Default fully visible */
  transition: opacity 0.8s ease; /* Smooth fade-out over 1 second */
  color: var(--light-cream);
  font-family: 'Metamorphous', static;
}

.age-verification-content-wrapper.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease;
}

/* Age verification content fade-out */
.fade-out {
  opacity: 0;
  transition: opacity 0.8s ease; /* Smooth fade-out over 0.8 seconds */
}

/* Fade-in message for "Do zobaczenia wkrótce" */
.fade-in-message {
  font-size: 2rem;
  color: black;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 0.8s forwards ease-in;
}
.fade-in-image {
  
 
  width: 40%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeIn 0.8s forwards ease-in;
}

/* Keyframes for fade-in effect */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}





/* Mirrored image that appears and moves from the right */
.mirrored-image {
  width: 50%;
  height: auto;
  position: absolute;
 
  right: -50%; /* Start off-screen */
  transform: scaleX(-1); /* Mirror the image */
  object-fit: cover;
  animation: slideIn 2s forwards; /* Slide in animation */
}

/* Keyframes for sliding the mirrored image from the right */
@keyframes slideIn {
  0% {
    right: -50%; /* Start off-screen */
  }
  80% {
    right: 0%; /* Start off-screen */
  }
  100% {
    right: 10%; /* End at the middle of the screen */
  }
}

.metamorphous-regular {
  font-family: 'Metamorphous', static; /* Use the Metamorphous font */
}

/* Keyframes for sliding the image from the left */
@keyframes slideInLeft {
  0% {
    left: 0%; /* Start off-screen to the left */
  }
  100% {
    left: 7%; /* Slide in and stop at the original position */
  }
}

/* Buttons */
.buttons {
  display: flex;
  gap: 1rem;
  
}

.buttons button {
  padding: 1rem 2rem;
  font-size: 2rem;
  cursor: pointer;
  font-family: 'Metamorphous', static;
  background-color: #f8ebe0;
  border: 0;
  color: var(--light-cream);
  
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .age-verification {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem;
    font-family: 'Metamorphous', static;
  }
  
  .whiskey-image {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 2rem;
  }
  .mirrored-image {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 2rem;
    transform: scaleX(-1); /* Mirror the image */
    
  }

  .age-verification-content {
    width: 100%;
    text-align: center;
    bottom: 15%;
    font-family: 'Metamorphous', static;
  }

  .age-verification-content h1 {
    font-size: 1.5rem;
    font-family: 'Metamorphous', static;
  }

  .buttons button {
    width: 100%;
    padding: 0.75rem;
  }
  .App-header::before {
    min-height:30vh;
    max-height:30vh;
    width:100%;
  }
  
}

.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
  width: 100%;
}



.centered-text-with-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f8ebe0;
}

.centered-text-with-images h2 {
  font-size: 8vw;
  color: var(--light-cream);
  font-family: 'Metamorphous', sans-serif;

}

.szlachta-image {
  
  height: auto;
  opacity: 1;
}
.szlachta-image:first-of-type {
  margin-left: -10vw; /* Move left image partially out of view */
  width: 30vw;
}

.szlachta-image:last-of-type {
  margin-right: -10vw; /* Move right image partially out of view */
  width: 30vw;
}

/* === Responsive Styles === */
@media (max-width: 768px) {

  .menu-icon{
    margin-right: 90%;
  }
  .logo{
    margin-left:30%;
    margin-top: 1%;
  }
  .language-switcher{
    margin-top: 1%;
    font-size: 1.3rem;
  }
  .navbar ul {
    flex-direction: column;
    padding: 0;
    
  }

  .navbar ul li {
    margin: 10px 0;
  }

  

  .App-header {
    min-height:45vh;
    max-height:45vh;
  }

  .intro-section h2 {
    font-size: 12px;
  }

  .intro-section{
    min-height: 35vh; /* Full viewport height */
  }

  .intro-section p {
    font-size: 16px;
  }

  .App-section h3 {
    font-size: 24px;
  }

  .App-section p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 28px;
  }

  .navbar ul li a {
    font-size: 16px;
  }

  .App-header {
    min-height:40vh;
    max-height:40vh;
  }

  .intro-section h2 {
    font-size: 11px;
  }

  .intro-section p {
    font-size: 14px;
  }

  .App-section h3 {
    font-size: 20px;
  }

  .App-section p {
    font-size: 14px;
  }
}

/* Dropdown menu */
.dropdown {
  position: absolute;
  top: 50px; /* Adjust this value to position lower */
  left: 0;
  right: 0;
  background-color: var(--light-tan); /* Change to dark color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
}

/* Dropdown items */
.dropdown li {
  padding: 10px 20px; /* Adjust padding as needed */
}

/* Change dropdown item link colors to dark */
.dropdown li a {
  text-decoration: none;
  color: white; /* Dark button color */
  display: block; /* Make the link fill the list item */
}

/* Change dropdown item link color on hover */
.dropdown li a:hover {
  background-color: var(--reddish-brown); /* Darker color on hover */
}

/* Dropdown visibility based on mobile view */
@media (min-width: 768px) {
  .menu-icon {
    display: none; /* Hide menu icon on larger screens */
  }

  .dropdown {
    display: flex; /* Show menu items inline on larger screens */
    position: static; /* Position as normal flow */
    box-shadow: none; /* Remove shadow */
  }

  .navbar ul {
    display: flex; /* Flexbox for horizontal menu */
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar ul li {
    margin: 0 10px; /* Spacing between menu items */
  }


  


}

.timeline-section{
  background-color: #f8ebe0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.timeline-section h2{
  font-size: 2.2rem;
  padding-bottom: 30px;
}

/* Scale the active event */
.hIn .event.active {
  transform: scale(1.2);
  transition: transform 0.3s ease; /* Smooth scaling effect */
  z-index: 1; /* Ensure the scaled element stays on top */
  top: -30px;
}

/* Scale down the ::before pseudo-element of the active event */
.hIn .event.active::before {
  transform: scale(0.8);
  transition: transform 0.1s ease; /* Optional smoother effect for pseudo-element */
}

/* Scale down the ::after pseudo-element of the active event */

.hOut::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

@keyframes scrollLeft {

  0% {
    transform: translateX(0%);
  }
  
  1.5% {
    transform: translateX(-5%);
  }
  10% {
    transform: translateX(-5%);
  }
  11.5% {
    transform: translateX(-10%);
  }
  20% {
    transform: translateX(-10%);
  }
  21.5% {
    transform: translateX(-15%);
  }
  30% {
    transform: translateX(-15%);
  }
  31.5% {
    transform: translateX(-20%);
  }
  40% {
    transform: translateX(-20%);
  }
  41.5% {
    transform: translateX(-25%);
  }
 
  50% {
    transform: translateX(-25%);
  }
  
  51.5% {
    transform: translateX(-30%);
  }
  60% {
    transform: translateX(-30%);
  }
  61.5% {
    transform: translateX(-35%);
  }
  70% {
    transform: translateX(-35%);
  }
  71.5% {
    transform: translateX(-40%);
  }
  80% {
    transform: translateX(-40%);
  }
  81.5% {
    transform: translateX(-45%);
  }
  90% {
    transform: translateX(-45%);
  }
  91.5% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }

}

.hIn {
  display: flex;
  animation: scrollLeft 40s linear infinite;
  padding-bottom: 0px;
  margin-bottom: 20px;
  border-bottom: 3px dotted #421900;
  min-width: fit-content;
  width: 100%;
  
}



/* (PART B) EVENTS */
.hIn .event {
  color: #fff; background: #421900;
  min-width: 200px; max-width: 300px;
  padding: 10px; margin: 20px; border-radius: 10px;
  position: relative;
  right: 18vw;
}

.hIn .event2 {
  color: #fff; background: #42190000;
  min-width: 200px; max-width: 300px;
  padding: 10px; margin: 10px; border-radius: 10px;
  position: relative;
  
}


.hIn .eDate { font-weight: 700; font-size: 1rem; }
.hIn .eTxt { font-size: 0.9rem; }

/* (PART C) TIMELINE SHARED */
.hIn .event::before, .hIn .event::after {
  position: absolute; content: "";
}

/* (PART D) TIMELINE CIRCLE */
.hIn .event::before {
  bottom: -30px; left: 50%;
  content: ""; width: 16px; height: 16px; border-radius: 50%;
  background: #421900;
}

/* (PART E) TIMELINE "T-CONNECTOR" */
.hIn .event::after {
  bottom: -20px; left: calc(50% + 6px);
  width: 1px; height: 20px;
  border-left: 3px dotted #421900;
}

.feast-item {
  position: relative;
  display: inline-block;
  overflow: hidden; /* Ensures the panel doesn't overflow the image */
}

.info-panel {
  position: absolute;
  bottom: 0; /* Start at the bottom of the image */
  left: 0; /* Align with the left edge of the image */
  width: 100%; /* Cover the full width of the image */
  height: 0; /* Start with zero height */
  background-color: rgba(216, 216, 216, 0.8); /* Semi-transparent light gray */
  color: #000; /* Adjusted for contrast */
  overflow: hidden; /* Hide content until it expands */
  padding: 10px;
  border-radius: 10px;
  opacity: 0; /* Initially hidden */
  z-index: 10; /* Ensure it’s above other elements */
  transition: height 0.3s ease, opacity 0.3s ease;
  font-size: 1rem;
  
}

.feast-image {
  max-width: 23vw;
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.space {
  height: 10vh;
}



.feast-images {
  display: flex;
  justify-content: center;
  gap: 1.6vw; /* Space between images */
  flex-wrap: wrap; /* Ensures responsiveness */
  padding-bottom: 30px;
}

.bottle-name{
  font-size: 2rem;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .feast-images {
    display: flex;

   
    gap: 2vw; /* Space between images */
    flex-wrap: wrap; /* Ensures responsiveness */
    padding-bottom: 30px;
  }

  .feast-image {
    max-width: 70vw;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
 .App-section h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 30px;
    font-family: 'Metamorphous', serif; /* Optional: Customize the font */
    text-align: center; /* Center-align the text */
  }


  #product-intro {
   /* Adjust the font size as needed */
    line-height: 1.6;  /* Optional: Adjust line spacing for better readability */
    color: #333;       /* Optional: Change the text color */
  }
  
}

.feast-image:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.feast-item:hover .info-panel {
  height: 100%; /* Expand to cover the full height of the image */
  opacity: 1; /* Make it visible */
}

.feast-section {
  background-color: #f8ebe0; /* Dark brown background */
  color: var(--light-cream); /* White text */
  padding: 60px 20px;
  text-align: center;
}

.feast-content {
  max-width: 1200px;
  margin: 0 auto;
}

.feast-section h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Metamorphous', serif; /* Optional: Customize the font */
  text-align: center; /* Center-align the text */
}



.animated-text-container {
  position: relative;
  width: 100%;
  height: 100%;
  top: -20%;
  pointer-events: none;
  
  z-index: 10;
}

.animated-text {
  position: absolute;
 opacity: 0;
 font-size: 0.7rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}

@keyframes growAndFade {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(2);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  /* move off screen left */
  }
}


.centered-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 20px;
  background-color: #f8ebe0; /* Light background for better contrast */
}

.section-title {
  font-size: 2.5rem; /* Larger font size for the title */
  margin-bottom: 10px; /* Space between title and body text */
  font-weight: bold;
  color: #333; /* Dark color for contrast */
}

.section-body {
  font-size: 1rem; /* Smaller font size for the body text */
  color: #555; /* Slightly lighter color for the body text */
  line-height: 1.6; /* Improve readability */
  max-width: 600px; /* Restrict width for better readability */
}


