/* App.css */

/* Add this at the top of your CSS file */
* {
  box-sizing: border-box; /* Ensure padding and borders are included in element's total width and height */
}

body, html {
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
  height: 100%; /* Ensure body and html take full height */
  overflow-x: hidden; /* Prevent horizontal overflow */
  font-family: 'Metamorphous', static;
  
}



.logo {
  position: absolute;
  left: 1%;
  top: 15%;
  max-width: 180px; /* Set a maximum width for the logo */
  max-height: 100px; /* Set a maximum height for the logo */
  overflow: hidden; /* Ensure any overflow is hidden */
  
}
.product-link img {
  width: 100%; /* Scale the image to fit within its container */
  height: auto; /* Maintain the aspect ratio */
  display: block; /* Ensure no extra space below the image */
}

/* Ensures the app takes full height and prevents overflow */
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh; /* Full height for flexbox */
}

/* App-header styles */
.App-header {
  background-image: url('./background.png');
 background-color: #222222;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center; /* Center vertically */
  position: relative;
  width: 100%; /* Ensure it takes full width */
}

/* Intro section styles */
.intro-section {
  flex: 1; /* This allows the intro section to grow and fill the available space */
  padding: 50px 20px;
  background-color: #1c1c1e;
  color: #fff;
  text-align: center;
}

.intro-section h2 {
  color: #fff;
  margin-bottom: 20px;
}

.intro-section p {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
}

/* App-section styles */
.App-section {
  flex: 1; /* This allows the section to grow and fill the available space */
  padding: 50px 20px;
  background-color: #363c47;
  color: #fff;
}

/* Footer styles */
.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%; /* Ensure it takes full width */
}

.App > *:not(footer) {
  flex-grow: 1;
}

/* Responsive Styles */


/* Navbar styles */
.navbar {
  background-color: #101015; /* Navbar color */
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #61dafb;
}

.hero-text-gold {
  font-size: 48px;
  font-weight: bold;
  z-index: 2;
  
  
  /* Apply the background image */
  background-image: url('./zloty32.png');
  background-size: 200% 100%; /* Make the background wider for animation */
  background-position: 0 0; /* Start at the left */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
  /* Add the animation */
  animation: moveBackground 5s linear infinite;
  position: relative;  /* Allow for adjustment with 'top' */
  
}

.hero-text-silver {
  font-size: 48px;
  font-weight: bold;
  z-index: 2;
  
  /* Apply the background image */
  background-image: url('./srebrny.jpg');
  background-size: 200% 100%; /* Make the background wider for animation */
  background-position: 0 0; /* Start at the left */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
  /* Add the animation */
  animation: moveBackground 5s linear infinite;
  position: relative;  /* Allow for adjustment with 'top' */

}
.hero-text-red {
  font-size: 48px;
  font-weight: bold;
  z-index: 2;
  
  /* Apply the background image */
  background-image: url('./czerwony.jpg');
  background-size: 200% 100%; /* Make the background wider for animation */
  background-position: 0 0; /* Start at the left */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
  /* Add the animation */
  animation: moveBackground 5s linear infinite;
  position: relative;  /* Allow for adjustment with 'top' */

}

/* Keyframes for moving the background from left to right */
@keyframes moveBackground {
  0% {
    background-position: 200% 0; /* Start from the left */
  }
  100% {
    background-position: 0 0; /* Move to the right */
  }
}



.language-switcher {
  color:white;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
}

.language-switcher:hover {
  opacity: 0.7;
}

/* Main container */
.age-verification {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1c1e;
  position: relative;
  overflow: hidden;
}

/* Image on the left with animation */
.whiskey-image {
  width: 50%;
  height: auto;
  object-fit: cover;
  transition: transform 0.5s ease; /* For smooth animation */
  position: absolute;
  left: 0%;
}

.slideInLeft {
  animation: slideInLeft 0.3s forwards; /* Left-side sliding animation */
}

/* Age verification content */
.age-verification-content {
  position: absolute;
  right: 0%;
  flex-direction: column;
  align-items: center;
  width: 50%;
  opacity: 1; /* Default fully visible */
  transition: opacity 0.8s ease; /* Smooth fade-out over 1 second */
  color: #fff;
  font-family: 'Metamorphous', static;
}

.fade-out {
  opacity: 0; /* Faded out */
}

/* Mirrored image that appears and moves from the right */
.mirrored-image {
  width: 50%;
  height: auto;
  position: absolute;
 
  right: -50%; /* Start off-screen */
  transform: scaleX(-1); /* Mirror the image */
  object-fit: cover;
  animation: slideIn 2s forwards; /* Slide in animation */
}

/* Keyframes for sliding the mirrored image from the right */
@keyframes slideIn {
  0% {
    right: -50%; /* Start off-screen */
  }
  80% {
    right: 0%; /* Start off-screen */
  }
  100% {
    right: 10%; /* End at the middle of the screen */
  }
}

.metamorphous-regular {
  font-family: 'Metamorphous', static; /* Use the Metamorphous font */
}

/* Keyframes for sliding the image from the left */
@keyframes slideInLeft {
  0% {
    left: 0%; /* Start off-screen to the left */
  }
  100% {
    left: 7%; /* Slide in and stop at the original position */
  }
}

/* Buttons */
.buttons {
  display: flex;
  gap: 1rem;
  
}

.buttons button {
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'Metamorphous', static;
  background-color: #1c1c1e;
  border: 0;
  color: #fff;
  font-size: 40px;
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
  .age-verification {
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem;
    font-family: 'Metamorphous', static;
  }
  .hero-text-gold{
    font-size: 6vw;
  }
  .hero-text-red{
    font-size: 6vw;
  }
  .hero-text-silver{
    font-size: 6vw;
  }
  .whiskey-image {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 2rem;
  }
  .mirrored-image {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 2rem;
    transform: scaleX(-1); /* Mirror the image */
    
  }

  .age-verification-content {
    width: 100%;
    text-align: center;
    bottom: 15%;
    font-family: 'Metamorphous', static;
  }

  .age-verification-content h1 {
    font-size: 1.5rem;
    font-family: 'Metamorphous', static;
  }

  .buttons button {
    width: 100%;
    padding: 0.75rem;
  }
  .App-header::before {
    max-height:30vh;
    width:100%;
  }
  
}

.App-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
  width: 100%;
}



.centered-text-with-images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  text-align: center;
  background-color: #1c1c1e;
}

.centered-text-with-images h2 {
  font-size: 8vw;
  color: #fff;
  font-family: 'Metamorphous', sans-serif;

}

.szlachta-image {
  width: 40vw;
  height: auto;
  opacity: 0.3
}
.szlachta-image:first-of-type {
  margin-left: -10vw; /* Move left image partially out of view */
}

.szlachta-image:last-of-type {
  margin-right: -10vw; /* Move right image partially out of view */
}

/* === Responsive Styles === */
@media (max-width: 768px) {

  .menu-icon{
    margin-right: 90%;
  }
  .logo{
    margin-left:30%;
    margin-top: 1%;
  }
  .language-switcher{
    margin-top: 1%;
    font-size: 1.3em;
  }
  .navbar ul {
    flex-direction: column;
    padding: 0;
    
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .hero-text {
    font-size: 36px;
  }

  .App-header {
    max-height: 20vh;
  }

  .intro-section h2 {
    font-size: 24px;
  }

  .intro-section p {
    font-size: 16px;
  }

  .App-section h3 {
    font-size: 24px;
  }

  .App-section p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 28px;
  }

  .navbar ul li a {
    font-size: 16px;
  }

  .App-header {
    max-height: 20vh;
  }

  .intro-section h2 {
    font-size: 20px;
  }

  .intro-section p {
    font-size: 14px;
  }

  .App-section h3 {
    font-size: 20px;
  }

  .App-section p {
    font-size: 14px;
  }
}

/* Dropdown menu */
.dropdown {
  position: absolute;
  top: 50px; /* Adjust this value to position lower */
  left: 0;
  right: 0;
  background-color: #1c1c1e; /* Change to dark color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000; /* Ensures it stays on top of other elements */
}

/* Dropdown items */
.dropdown li {
  padding: 10px 20px; /* Adjust padding as needed */
}

/* Change dropdown item link colors to dark */
.dropdown li a {
  text-decoration: none;
  color: white; /* Dark button color */
  display: block; /* Make the link fill the list item */
}

/* Change dropdown item link color on hover */
.dropdown li a:hover {
  background-color: #333; /* Darker color on hover */
}

/* Dropdown visibility based on mobile view */
@media (min-width: 768px) {
  .menu-icon {
    display: none; /* Hide menu icon on larger screens */
  }

  .dropdown {
    display: flex; /* Show menu items inline on larger screens */
    position: static; /* Position as normal flow */
    box-shadow: none; /* Remove shadow */
  }

  .navbar ul {
    display: flex; /* Flexbox for horizontal menu */
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .navbar ul li {
    margin: 0 10px; /* Spacing between menu items */
  }
}


