/* General styling for the section */
.App-section {
    padding: 50px 20px;
    background-color: #1d4d72;
    color: white;
    text-align: center;
  }
  
  /* Center the entire section content */
  .product {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the container horizontally */
    margin: 20px auto; /* Center the whole product container */
    max-width: 900px; /* Adjust the max width to fit the content */
    width: 100%; /* Ensure it takes full width */
    
  }

  

  
  
  .product-image {
    width: 150px; /* Adjust as needed */
    height: auto;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 20px;

  }
  .product-link a {
    text-decoration: none;
    color: inherit; /* This ensures the text color remains the same as surrounding text */
  }
  .product-description {
    max-width: 500px;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    margin-right: 100px;
    margin-bottom: 20px;

  }
  
  .product h2 {
    margin-bottom: 10px;
    font-size: 28px;
    
  }
  
  .product p {
    font-size: 16px;
    
  }
  
  /* Left-side product layout */
  .product-left {
    justify-content: flex-start;
    background-color: #16425b;
    
  }
  
  /* Right-side product layout (image on the right) */
  .product-right {
    justify-content: flex-start;
    flex-direction: row-reverse; /* Image on the right */
    background-color: #10364c;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 768px) {
    .product {
      flex-direction: column;
      text-align: center;
      justify-content: center;
    }
  
    .product-left,
    .product-right {
      flex-direction: column;
    }
  
    .product-image {
      margin-bottom: 20px;
      
      width: 150px;
      height: auto;
    }
    
    .a{
      padding: 200px;
    }
    .product-description {
      text-align: center;
    }
  }
  