/* General layout for the product page */
:root {
  --light-cream: #563920;
  --light-tan: #e6ccb2;
  --soft-brown: #ddb892;
  --warm-brown: #b08968;
  --dark-brown: #ede0d4;
  --reddish-brown: #9c6644;
}


.product-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: var(--dark-brown);
  color: white;
  text-align: center; /* Ensure all text is centered */
  flex-direction: row; /* Stack items vertically on all screen sizes */
}

/* Rectangle background for the description and button */
.product-description-background {
  background-color: var(--soft-brown); /* Slightly lighter than the page background */
  color: var(--light-cream);
  padding: 20px;
  border-radius: 8px; /* Slight rounded corners */
  display:block; /* Adjust width to content */
  text-align: center;
}


/* Styling for the image container */
.product-image-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-bottom: 20px; /* Add spacing between the image and text */
}

.product-image-large {
  width: 100%;
  height: auto;
  max-width: 300px;
  padding-top: 40px;
}
/* Styling for the button */
.product-button {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 20px;
  background-color: var(--light-tan);
  color: var(--light-cream);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-button:hover {
  background-color: var(--warm-brown);
 
}

/* Styling for the description container */
.product-description-container {
  max-width: 600px;
}

/* Mobile-specific layout */
@media (max-width: 768px) {
  .product-page {
    flex-direction: column; /* For larger screens, display items side by side */
    text-align: left; /* Align text to the left */
    
  }
  .product-image-large {
    width: 100%;
    height: auto;
    max-width: 200px;
  }

  .product-description-container {
    padding-left: 20px;
  }
}
